.booking-card {
  margin-bottom: 8px;
  background: white;
  border: 2px solid rgb(235,235,235);
  border-radius: 10px;
  overflow: hidden;
  height: 120px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.booking-card-actions {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  margin-left: 630px;
}

.booking-card .reject-icon {
  font-size: 20px;
  padding: 5px;
  color: #aeaeae;
}

.booking-card .reject-icon:hover {
  color: #d02828 !important;
}

.booking-card .accept-icon {
  font-size: 20px;
  padding: 5px;
  color: #aeaeae;
}

.booking-card .accept-icon:hover {
  color: #1ea41e !important;
}

.booking-image {
  width: 130px;
  height: 120px;
}

.booking-card img {
  height: 100%;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
}
.booking-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.booking-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}
.booking-card a {
  text-decoration: none;
  color: black;
}

.booking-card .booking-card-content {
  padding: 16px;
  display: flex;
  align-items: center;
  height: 100px;
  .text {
    width: 600px;
  }
}

.booking-title-container {
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 40px;
}

// .add-btn a {
//   border-radius: 10px;
//   background-color: $light-yellow !important;
//   border: none;
//   color: $dark-purple !important;
//   font-size: 14px !important;
//   font-weight: 600 !important;
//   padding: 15px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   &:hover {
//     background-color: $dark-yellow !important;
//     color: $dark-purple !important;
//   }
// }

.booking-status {
  display: flex;
  gap: 10px;
}

.sub-bookings {
  margin-top: 40px;
}
