// Define variables for your color scheme
$dark-purple: #2E1760;
$light-purple: #5E3D8C;
$extra-light-purple: #8d6eb7;
$grey: #595959;
$light-grey: #aeaeae;
$extra-light-grey: #F2F2F2;
$light-yellow: #ffeeaf;
$dark-yellow: #fcc500;
$light-blue: #d2e5eb9a;
$middle-blue: #88afb6;
$dark-blue: #008198;
$pink: #F4989C;
$light-pink: #F4B3B7;
$orange: #FF8811;

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
