// Define variables for your color scheme
$dark-purple: #2E1760;
$light-purple: #5E3D8C;
$grey: #595959;
$light-yellow: #FFEA9F;
// $dark-yellow: #FFC65A;
$dark-yellow: #fcc500;
$light-blue: #A9DDD6;
$dark-blue: #5EB1BF;
$pink: #F4989C;
$orange: #FF8811;


// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
