// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700%7CWork+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,400;0,600;1,200;1,400&family=Podkova:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;0,800;1,200;1,400&family=Quattrocento:wght@400;700&display=swap');

// Define fonts for body and headers
$body-font: 'Montserrat', sans-serif;
$headers-font: 'Quattrocento', serif;
$headers-font-weight: 700;

h1, h2, h3, h4, h5 {
  font-family: 'Quattrocento', serif;
  font-weight: $headers-font-weight;
  color: #2E1760;
}

h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #2E1760;
}

a {
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 !important;
  color: #595959;
}
