<div style="width: 900px; margin: 0 auto;"> <!-- change to global container -->
  <h1>Booking</h1>
  <div class="booking-container">
    <h3><%= @booking.arrival %></h3>
    <h3><%= @booking.departure %></h3>
    <p><%= @booking.comment %></p>
  </div>
</div>
