<div class="container">
  <h1>Booking Confirmation</h1>
  <div class="booking-container">
    <h3><%= @received_bookings.arrival %></h3>
    <h3><%= @received_bookings.departure %></h3>
    <p><%= @received_bookings.comment %></p>
  </div>
</div>
