.grid-boats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 20px auto;
}

.grid-boats .card-boat {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
  }
  .boat-image {
    height: 200px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.grid-boats .card-boat .boat-infos {
  padding: 20px;
  position: relative;
  h4 {
    color: $dark-purple;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }
  p {
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    margin-bottom: 0;
    overflow: hidden;
  }
}

.grid-boats .card-boat .boat-details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  span {
    color: $extra-light-purple;
    font-size: 16px;
    font-weight: 400;
  }
  p {
    font-size: 14px;
    color: $grey;
  }
}

.show-map-btn {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 1rem;
  align-self: flex-end;
  padding-bottom: 50px;
  margin-right: 90px;


}
