.shared-links {
  color: #2E1760;
  text-decoration: none;
  text-align: center;
}

.shared-links:hover {
  color: #552bb1;
}

.devise-container {
  width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-right: 20px;
}

.log-buttons {
  text-align: center;
}
