
.listing-card {
    margin-bottom: 8px;
    background: white;
    //padding: 8px 16px;
    border: 2px solid rgb(235,235,235);
    border-radius: 10px;
    overflow: hidden;
    height: 120px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;

  }

  .listing-card-actions {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .listing-card .delete-icon {
    opacity: 0;
    font-size: 14px;
    padding: 5px;
  }

  .listing-card:hover .delete-icon {
    display: block;
    opacity: 1;
  }

  .listing-card .edit-icon {
    opacity: 0;
    font-size: 14px;
    padding: 5px;
  }

  .listing-card:hover .edit-icon {
    display: block;
    opacity: 1;
  }

  .listing-image {
    width: 130px;
    height: 120px;
  }

  .listing-card img {
    height: 100%;
    width: 130px;
    object-fit: cover;
    border-radius: 5px;
  }
  .listing-card h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  .listing-card p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }
  .listing-card a {
    text-decoration: none;
    color: black;
  }

  .listing-card .listing-card-content {
    padding: 16px;
  }

  .listing-card-content{
    display: flex;
    align-items: center;
    height: 100px;
  }


.listing-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.add-btn a {
    border-radius: 10px;
    background-color: $light-yellow !important;
    border: none;
    color: $dark-purple !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    &:hover {
      background-color: $dark-yellow !important;
      color: $dark-purple !important;
    }
}
