.listings{
  max-width: 700px;
  margin: 0 auto;
  padding: 0 16px;
  .listing-card {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    background: white;
    padding: 8px 16px;
    border: 2px solid rgb(235,235,235);
    border-radius: 10px;
    .listing-card-content {
      flex-grow: 1;
      padding: 0 24px;
    }
    p {
      margin: 0;
      line-height: 1.4;
    }
    small {
      color: rgba(52, 20, 20, 0.69);
      font-weight: bold;
      font-size: 20px;
    }
    .listing-card-actions {
      opacity: 0;
      display: flex;
      transition: ease .3s;
      a {
        color: rgba(52, 20, 20, 0.69);
        margin-left: 16px;
        font-size: 14px;
        text-decoration: none;
        &:hover {
          color: rgba(52, 20, 20, 1);
        }
      }
    }
  }
  &:hover .listing-card-actions {
    opacity: 1;
  }
}
