.button {
  // width: 180px;
  // height: 72px;
  border-radius: 10px;
  background-color: $light-yellow !important;
  border: none;
  color: $dark-purple !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  // padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  &:hover {
    background-color: $dark-yellow !important;
    color: $dark-purple !important;
  }
}
