.container {
  width: 900px !important;
  margin: 0 auto;
  padding: 20px 0;
<<<<<<< HEAD
}

.container-big {
  width: 1200px !important;
  margin: 0 auto;
  padding: 20px 0;
=======
>>>>>>> master
}
