footer {
  background-color: #fff;
  width: 100%;
  border-top: 1px solid $extra-light-grey;
}

footer .footer-container {
  padding: 20px 80px;
  text-align: center;
}

footer .footer-container p {
  font-size: 12px;
  margin-bottom: 0;
  color: $dark-purple;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
