.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to right, $light-yellow, $light-blue);
  padding: 5px 50px 5px 50px;
  height: 78px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  margin-left: 20px;
}

.nav-item {
  margin-right: 20px;
  a {
  color: $dark-purple !important;
  font-weight: bold;
  font-size: 14px;
    &:hover {
      color: $extra-light-purple !important;
      text-decoration: none;
    }
  }
}

.dropdown-item a {
  color: $dark-purple !important;
  font-weight: bold;
  font-size: 14px;
    &:hover {
      color: $extra-light-purple !important;
      text-decoration: none;
    }
}

.navbar-btn {
  filter: grayscale(100%);
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.navbar-btn:hover {
  filter: none;
  outline: 2px solid $extra-light-purple;
  margin: 0;
  padding: 0;
}

.navbar-btn:active {
  filter: none;
  outline: 2px solid $extra-light-purple;
}
