.navbar-lewagon {
  justify-content: space-between;
  // background-image: linear-gradient(to right, #FFEA9F, #A9DDDA);
  background-image: linear-gradient(to right, $light-yellow, $dark-blue);
  padding: 5px 50px 5px 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  margin-left: 20px;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  color: #fff !important;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.nav-item a:hover {
  color: $dark-purple !important;
  text-decoration: none;
}
