.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to right, $light-yellow, $light-blue);
  padding: 5px 50px 5px 50px;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  margin-left: 20px;
}

.nav-item {
  margin-right: 20px;
  a {
  color: $dark-purple !important;
  font-weight: bold;
     &:hover {
       color: #fff !important;
       text-decoration: none;
    }
  }
}
