.form-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.search-form-container {
  padding: 20px 80px;
}

.form-control {
  border-radius: 10px !important;
}

.form-select {
  border-radius: 10px !important;
}

